/////////// COLORS ///////////

$color-purple-light: #c9cfe5;
$color-purple-lighter: #a397b7;
$color-purple-dark: #a691b6;

$color-heading: #6f506f;

$color-border: 1px solid #c9cfe5;
$color-background: #f9f7f6;


/////////// TYPOGRAPHY ///////////

$font-size-smallest: 1rem;
$font-size-small: 1.3rem;
$font-size-medium: 1.3rem;
$font-size-big: 1.9rem;

/////////// GENERAL ///////////

$general-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.14);




